:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  
  --first-brand-color: #ffad44;
  --second-brand-color: #f16690;
  --third-brand-color: #31c5a2;
  --fourth-brand-color: #47b1f4;
  --fifth-brand-color: #eaeef2; /* DON'T CHANGE THIS ONE */



  --main-font: 'Open Sans';
  --title-font: 'Open Sans SemiCondensed';
  --main-title-font: 'Open Sans Medium';

  font-size: 62.5%;
}
